﻿<div class="btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-light">
        <input type="checkbox" autocomplete="off"> @ViewBag.ButtonText <span class="badge badge-info">@ViewBag.Count</span>
    </label>
</div>
