﻿@using GameEncyclopediaCore.Utils
<ul class="nav nav-pills nav-fill">
    
    <li class="nav-item">
        <a class="nav-link@(HtmlHelpers.AddActiveClass(ViewBag.CurrentAction,"Index"))" asp-action="Index">@AccountResource.MyProfile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link@(HtmlHelpers.AddActiveClass(ViewBag.CurrentAction,"MyAccount"))" asp-action="MyAccount">@AccountResource.MyPersonalData</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Moje gry</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Komentarze na forum</a>
    </li>
</ul>
