﻿@using GameEncyclopediaCore.Utils
@model MyAccountViewModel

<h3>@AccountResource.MyPersonalData</h3>

<form data-ajax="true" data-ajax-method="post" data-ajax-confirm="@AccountResource.AreYouSureYouWantToChangeYourData"
      data-ajax-loading-duration="2000" data-ajax-loading="#loading" data-ajax-update="#alertBox"
      data-ajax-failure="showErrorAlert" data-ajax-success="showSuccessAlert" data-ajax-url="@Url.Action("UpdateAccount")">
    @Html.AntiForgeryToken()
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" placeholder="@AccountDisplayNameResource.FirstName" />
            <span asp-validation-for="FirstName" class="text-danger"></span>

        </div>
        <div class="col-md-3 mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" placeholder="@AccountDisplayNameResource.LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-3">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" class="form-control" placeholder="@AccountDisplayNameResource.BirthDate">
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-3">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="@AccountDisplayNameResource.PhoneNumber" />
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-5 mb-3">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" placeholder="@AccountDisplayNameResource.City" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Voivodeship"></label>
            <select asp-for="Voivodeship" asp-items="DropDownLists.Voivodeships()" class="form-control" placeholder="@AccountDisplayNameResource.Voivodeship"></select>
            <span asp-validation-for="Voivodeship" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-3">
            <label asp-for="PostalCode"></label>
            <input asp-for="PostalCode" class="form-control" placeholder="@AccountDisplayNameResource.PostalCode">
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label asp-for="Street"></label>
            <input asp-for="Street" class="form-control" placeholder="@AccountDisplayNameResource.Street">
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-3">
            <label asp-for="HouseNumber"></label>
            <input asp-for="HouseNumber" class="form-control" placeholder="@AccountDisplayNameResource.HouseNumber" />
            <span asp-validation-for="HouseNumber" class="text-danger"></span>
        </div>
        <div class="col-md-3 mb-3">
            <label asp-for="AptNumber"></label>
            <input asp-for="AptNumber" class="form-control" placeholder="@AccountDisplayNameResource.AptNumber">
            <span asp-validation-for="AptNumber" class="text-danger"></span>
        </div>
    </div>
    <partial name="_ChangeAccountDataButtonPartial" />
</form>

