﻿@model PasswordViewModel
<h3>@AccountDisplayNameResource.Password</h3>

<form data-ajax="true" data-ajax-method="post" data-ajax-confirm="@AccountResource.AreYouSureYouWantToChangeYourData"
      data-ajax-loading-duration="2000" data-ajax-loading="#loading" data-ajax-update="#alertBox"
      data-ajax-failure="showErrorAlert" data-ajax-success="showSuccessAlert" data-ajax-url="@Url.Action("UpdatePassword")">
    @Html.AntiForgeryToken()
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword" class="form-control" placeholder="@AccountDisplayNameResource.OldPassword" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>

        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" class="form-control" placeholder="@AccountDisplayNameResource.NewPassword" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="@AccountDisplayNameResource.ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <partial name="_ChangeAccountDataButtonPartial" />
</form>
