﻿@model UserNameViewModel

<h3>@AccountDisplayNameResource.UserName</h3>

<form data-ajax="true" data-ajax-method="post" data-ajax-confirm="@AccountResource.AreYouSureYouWantToChangeYourData"
      data-ajax-loading-duration="2000" data-ajax-loading="#loading" data-ajax-update="#alertBox"
      data-ajax-failure="showErrorAlert" data-ajax-success="showSuccessAlert" data-ajax-url="@Url.Action("UpdateUserName")">
    @Html.AntiForgeryToken()
    <div class="form-group row">
        <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="UserName" placeholder="@AccountDisplayNameResource.UserName">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <partial name="_ChangeAccountDataButtonPartial" />
</form>
