﻿@{
    ViewData["Title"] = $"{User.Identity.Name} - {AccountResource.MyProfile}";
}
<partial name="_AccountNavbarPartial" />
<div class="row">
    <div class="col-sm-4 col-xs-12">
        <div class="card text-center">
            <img class="card-img-top" src="~/images/default-profile-image.png" alt="Profile image">
            <div class="card-body">
                <h5 class="card-title">@User.Identity.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">Konto założono 01.01.2008 r.</h6>
                <a asp-action="MyAccount" asp-controller="Account" class="card-link">@AccountResource.MyPersonalData &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <h2>Moje gry</h2>
    </div>
    <div class="col-sm-4 col-xs-12">
        <h2>Komentarze</h2>
    </div>
</div>
