﻿@model MyAccountViewModel
@{
    ViewData["Title"] = $"{User.Identity.Name} - {AccountResource.MyAccount}";
}
<partial name="_AccountNavbarPartial" />

<h2>@AccountResource.MyAccount</h2>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="my-account-tab" data-toggle="tab" href="#my-account" role="tab" aria-controls="my-account" aria-selected="true">@AccountResource.MyPersonalData</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="user-name-tab" data-toggle="tab" href="#user-name" role="tab" aria-controls="user-name" aria-selected="false">@AccountDisplayNameResource.UserName</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="email-tab" data-toggle="tab" href="#email" role="tab" aria-controls="email" aria-selected="false">@AccountDisplayNameResource.Email</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="password" aria-selected="false">@AccountDisplayNameResource.Password</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="my-account" role="tabpanel" aria-labelledby="my-account-tab">
                <partial name="_MyPersonalDataPartial" model='Model' />
            </div>
            <div class="tab-pane fade" id="user-name" role="tabpanel" aria-labelledby="user-name-tab">
                <partial name="_UserNamePartial" model='ViewData["userNameViewModel"]' />
            </div>
            <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">
                <partial name="_EmailPartial" model='ViewData["emailViewModel"]' />
            </div>
            <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                <partial name="_PasswordPartial" model='null' />
            </div>
        </div>
        </div>
    </div>



@section scripts{
    <script>
        var serverVariables = {
            errorOccured: '@CommonResource.ErrorOccured'
        };
    </script>
    <script src="~/js/user-index-script.js"></script>
    <environment include="Development">
        <script src="~/node_modules/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/node_modules/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    </environment>
}

