﻿@model GameEncyclopediaCore.Models.AccountViewModels.RegisterViewModel

@{
    ViewData["Title"] = AccountResource.Registration;
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-route-returnUrl="@Context.Request.GetEncodedUrl()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input asp-for="AcceptFirstRule" class="custom-control-input" /> <label asp-for="AcceptFirstRule" class="custom-control-label"></label>
                <span asp-validation-for="AcceptFirstRule" class="text-danger"></span>
            </div>
            <div class="custom-control custom-checkbox mb-3">
                <input asp-for="AcceptSecondRule" class="custom-control-input" /> <label asp-for="AcceptSecondRule" class="custom-control-label"></label>
                <span asp-validation-for="AcceptSecondRule" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@AccountResource.CreateAccount" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">@AccountResource.BackToHomePage</a>
</div>
