﻿
@{
    ViewData["Title"] = VideoGamesResources.VideoGames;
}

<h2>@ViewData["Title"]</h2>

@VideoGamesResources.RangeOfReleaseYears

<label for="searchQuery"></label>

<input type="search" id="searchQuery" />

<div id="yearRangeSlider"></div>

<input type="text" readonly value="1960" id="minYear" /> -
<input type="text" readonly value="@DateTime.Now.AddYears(1).Year" id="maxYear" />

<vc:release-date-toggle-button show-games-after-release="true"></vc:release-date-toggle-button>

<vc:release-date-toggle-button show-games-after-release="false"></vc:release-date-toggle-button>

<vc:platform-filter-area></vc:platform-filter-area>

<vc:genre-filter-area></vc:genre-filter-area>

<div id="results"></div>

@section scripts{ 
<script src="~/node_modules/jquery-ui/ui/widget.js"></script>
<script src="~/node_modules/jquery-ui/ui/widgets/mouse.js"></script>
<script src="~/node_modules/jquery-ui/ui/widgets/slider.js"></script>
<script src="~/js/video-games-index-script.js"></script>
}