﻿
<div class="alert @(ViewBag.Errors == null ? "alert-success" : "alert-danger") alert-dismissible fade show" role="alert">
    @if (ViewBag.Errors == null)
    {
        @AccountResource.AccountUpdatedSuccessfully
    }
    else
    {
        @AccountResource.ErrorOccuredWhileUpdatingAccount
        <ul>
            @foreach (var error in (IEnumerable<string>)ViewBag.Errors)
            {
                <li>@error</li>
            }
        </ul>
    }
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>