﻿@model GameEncyclopediaCore.Models.AccountViewModels.LoginViewModel

@if (User.Identity.IsAuthenticated)
{
    
    <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Account">@string.Format(CommonResource.WelcomeUser, User.Identity.Name)</a></li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Context.Request.GetEncodedPathAndQuery()" method="post">
            <input type="submit" class="nav-link btn btn-link" value="@CommonResource.LogOut" />
        </form>
    </li>
}
else
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @CommonResource.SignIn
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.GetEncodedPathAndQuery()" method="post" class="px-4 py-3">
                <div asp-validation-summary="ModelOnly" class="form-group"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" placeholder="@AccountDisplayNameResource.UserName" />
                    <span asp-validation-for="Username"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" placeholder="@AccountDisplayNameResource.Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input asp-for="RememberMe" class="custom-control-input" />
                    <label asp-for="RememberMe" class="custom-control-label"></label>
                </div>
                <button type="submit" class="btn btn-primary">@CommonResource.SignIn</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="Register" asp-controller="Account">@CommonResource.NewSignUp</a>
            <a class="dropdown-item" asp-action="ForgotPassword" asp-controller="Account">@CommonResource.ForgotPassword</a>
        </div>
    </li>
}