﻿@model IEnumerable<GameEncyclopediaCore.Models.VideoGameViewModels.PlatformToggleButtonGroupViewModel>

<div class="row">
    @foreach (var group in Model)
    {
        <div class="card border-light mb-3 col-md-4" style="max-width: 18rem;">
            <div class="card-header">@group.PlatformGroup</div>
            <div class="card-body">
                @foreach (var platformItem in group.Platforms)
                {
                    <div style="display: inline-block;">
                        <div class="btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-light">
                                <input type="checkbox" autocomplete="off"> <img src="~/images/platform-icon.jpg" height="30" width="30" /><br />
                                <small>@platformItem.Platform</small>
                            </label>
                        </div>
                        <small>@platformItem.VideoGameCount</small>
                    </div>
                }

            </div>
        </div>
    }
</div>


    
