﻿@model IEnumerable<GameEncyclopediaCore.Models.VideoGameViewModels.GenreToggleButtonViewModel>

<div class="row">
    @foreach (var genreItem in Model)
    {
        <div class="btn-group-toggle col-md-3" data-toggle="buttons">
            <label class="btn btn-light">
                <input type="checkbox" autocomplete="off"> <img src="~/images/platform-icon.jpg" height="30" width="30" /> @genreItem.Genre <span class="badge badge-info">@genreItem.VideoGameCount</span>
            </label>
        </div>
    }
</div>

